################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

## 빌드 결과물
bin/
obj/
Debug/
Release/

## 사용자 환경 설정
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio 관련
.vs/

## 기타
*.log
*.db
*.cache
*.sdf
*.VC.db

# ReSharper
*.DotSettings.user

# Rider
.idea/

# Test 결과
TestResults/

# 패키지 관리
packages/
*.nupkg
project.lock.json
project.fragment.lock.json
artifacts/

# 기타 시스템 파일
Thumbs.db
Desktop.ini
