################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/WatcherUI/.vs/WatcherUI/FileContentIndex/5e1cf8f4-66f7-4fbe-a203-960c73b48926.vsidx
/WatcherUI/.vs/WatcherUI/FileContentIndex/3347755d-5a42-4512-b33c-e9804b1d3123.vsidx
/WatcherUI/.vs/WatcherUI/FileContentIndex
/WatcherUI/.vs/WatcherUI/v17/.suo
/WatcherUI/.vs/WatcherUI/v17/DocumentLayout.backup.json
/WatcherUI/.vs/WatcherUI/v17/DocumentLayout.json
